<div class="main-wrapper">
  <div class="top-content">
    <h1>行ってみたい場所にチェックを入れてください</h1>
  </div>
  <div class="form-contents">
    <%= form_with model:@visit_point,url:maps_path, local: true do |f|%>
      <div class="placese-contents">
        <%=f.hidden_field :visit_place_id, :value => @visit_place_id%>

        <% @placese.each_with_index do |item,i| %>
          <div class=place-item>
            <div>
              <img src=<%=item[0]%>>
            </div>
            <div class="place-name-wrap">
              <h2 class="place-name"><%= item[1]%></h2>
            </div>
            <div class="checkbox-content">
              <label>
              <input type="checkbox" class="checkbox-input" name=<%=i%> value="<%=item[2]%>"> 
              <span class="checkbox-parts">行きたい</span>
              </label>
            </div>
          </div>
        <% end %>

      </div>

      <div class="btn-wrap">
        <%=f.submit "決定",class:"submit"%>
      </div>

    <% end%>
  </div>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag 'place/new' %>
<% end %>