<div class="main-wrapper">
  <div class="top-contents">
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <% @image_url.each do |url|%>
            <div class="swiper-slide" data-test-set="test" style="background-image:url(<%=url%>)">
              <%=image_tag url, class:"entity-img"%>
            </div>
          <%end%>
      </div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>




  <div class="bottom-contents">
    <div class="city-name">
      <h2 class="city-name-text"><%= @city_name%></h2>
    </div>
    <div class="button-contents">
      <div class="again">
        <%= link_to("もう一度選ぶ", new_plan_path ,{class:"btn2-border btn2"})%>
      </div>
      <div class="send-contents">
        <%=form_with model:@plan do |f|%>
          <%=f.hidden_field :name, :value => @city_name%>
          <a class="btn2 btn2-border" id="submit-wrap"><%=f.submit "#{@city_name}で決定",id:"submit"%></a>
        <%end%>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<% content_for :css do %>
  <%= stylesheet_link_tag 'plan/new' %>
<% end %>
<%= javascript_pack_tag 'plan/application' %>